<section class="create-car-container">
    <h2>Add New Car</h2>
    <form #carForm="ngForm" (ngSubmit)="handleSubmit()">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" [(ngModel)]="brand" placeholder="Enter brand" required>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" [(ngModel)]="model" placeholder="Enter model" required>

        <label for="description">Description:</label>
        <textarea rows="10" cols="10" id="description" name="description" [(ngModel)]="description"
            placeholder="Enter description" required></textarea>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" [(ngModel)]="price" placeholder="Enter price" required>

        <label for="imageUrl">Image URL:</label>
        <input type="url" id="imageUrl" name="imageUrl" [(ngModel)]="imageUrl" placeholder="Enter image URL">

        <button type="submit" [disabled]="!carForm.form.valid">Create Car</button>
    </form>
</section>