<div class="filter-controls">
    <input type="text" placeholder="Filter cars by brand" class="brandFilter" (input)="onInputChange($event, 'brand')">
    <input type="number" placeholder="From Price" (input)="onInputChange($event, 'fromPrice')">
    <input type="number" placeholder="To Price" (input)="onInputChange($event, 'toPrice')">
</div>

<div class="car-list">


    @for (car of cars() | filterCars: searchValue(): fromPrice(): toPrice(); track car.id) {
    <div class="car-card">

        @if (car.imageUrl) {
        <img [src]="car.imageUrl" [alt]="car.brand + ' ' + car.model">
        }
        <h2>{{car.brand}} {{car.model}}</h2>
        <p>{{car.description}}</p>
        <p>Price: {{car.price | currency: 'EUR' : 'symbol': '1.2-2'}}</p>
        <button (click)="carsService.removeCar(car.id)">Remove Car</button>
    </div>
    }
</div>